#root {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
